// code used here has been copied from blog.module.scss. It needs to be modified to be properly adapted to the portfolio.js

.posts {
    list-style-type: none;
    margin: 0;

}

.post {
    margin: 1rem 0;

    a {
        background: #f4f4f4;
        color: #000000;
        text-decoration: none;
        display: block;
        padding: 1rem;
        border-radius: 1rem;
    }

    a:hover {
        background: #e4e4e4
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}